.project{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 100px 0;
    align-items: center;
}

.project > h1{
    color: rgb(127, 136, 255);
    text-align: center;
    padding-top:50px;
    font-weight: 1000;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    padding-bottom: 20px;
}


.project__img{
    display: flex;
    width: 60vw;
    margin-top: 50px;
    flex-wrap: wrap;
}
